.loading {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.error {
  margin-top: 36px;
}

.heading {
  margin: 36px 0 10px;
}

.link {
  width: 100px;
}

.second {
  padding-bottom: 36px;
}
