.loading {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.error {
  margin-top: 36px;
}

.heading {
  margin: 36px 0 10px;
}

.id {
  width: 40px;
}

.date {
  width: 120px;
}

.text {
  width: 200px;
}

.channel {
  width: 100px;
}

.link {
  width: 100px;
}
