.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea {
  padding: 12px 20px;
  resize: none;
  background: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.image {
  color: var(--muted);
}

.options {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.label {
  --height: 40px;
  --padding: 0 12px;

  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  gap: 6px;
}

.label > span {
  font-weight: bold;
}

.input {
  display: flex;
  align-items: center;
  height: var(--height);
  padding: var(--padding);
  background: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.select {
  height: var(--height);
  padding: var(--padding);
  appearance: none;
  background: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.button {
  align-self: flex-end;
  width: 140px;
  padding: 6px 12px;
}
