.header,
.main {
  --header-height: 56px;

  padding: 0 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

.main {
  max-width: 1000px;
  height: calc(100dvh - var(--header-height));
  padding: 0 10px 10px;
  margin: 0 auto;
}
