.placeholder,
.user {
  height: var(--header-height);
}

.user {
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatar {
  border-radius: var(--radius-full);
}

.name {
  font-weight: bold;
}

.username {
  color: var(--muted);
}
