:root {
  --radius: 8px;
  --radius-full: 9999px;
}

body {
  font-family: inter, roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: avenir, montserrat, corbel, 'URW Gothic', source-sans-pro,
    sans-serif;
}

a {
  color: var(--text);
}

button {
  color: var(--text);
  cursor: pointer;
  background: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

button:disabled {
  color: var(--muted);
  cursor: auto;
}
